.footer {
  padding: 31px 0;
  background-color: $color-dark;
}

.footer-inner {
  @include inner;
}

.footer-wrap {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #fff;
  text-decoration: none;
}

.footer-phone {
  font-size: 28px;
  line-height: 38px;
  color: #fff;
  text-decoration: none;
}
