.footer {
  padding: 31px 0;
  background-color: $color-dark;
}

.footer-inner {
  @include inner;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-phone {
  font-size: 28px;
  line-height: 38px;
  color: #fff;
  text-decoration: none;
}
