.order {
  padding: 130px 0;
  background-color: rgba($color-dark, .1);
}

.order-inner {
  @include inner;
}

.order-title {
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}

.order-text {
  margin: 37px 0 90px;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}
