.promo {
  background-image: url(/images/bg-promo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

}

.promo-fade {
  padding: 200px 0 214px;
  background-color: rgba($color-dark, 0.4);

  @media (max-width: $tablet-max) {
    padding: 180px 0 190px;
  }

  @media (max-width: $mobile-max) {
    padding: 110px 0 100px;
  }
}

.promo-inner {
  @include inner;
}

.promo-text {
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  color: #fff;

  @media (max-width: $tablet-max) {
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 80px;
    font-size: 32px;
    line-height: 44px;
  }

}
