.promo-inner {
  @include inner;
  border: 1px solid green;
}

.promo {
  padding: 200px 0 214px;
  background-color: red;
  // background-image: url(/www/images/bg-promo.jpg);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  text-align: center;
  color: #fff;
}

.promo-text {
  margin-bottom: 100px;
}
