.reviews {
  padding: 130px 0;

  @media (max-width: $tablet-max) {
    padding: 120px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 90px 0;
  }
}

.reviews-inner {
  @include inner;
}

.reviews-title {
  @include title;
  margin-bottom: 77px;

  @media (max-width: $tablet-max) {
    margin-bottom: 70px;
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 49px;
  }
}

.reviews-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.review-arrow {
  display: block;
  background-color: transparent;
  border: transparent;
  width: 60px;
  height: 60px;
  cursor: pointer;

  @media (max-width: $tablet-max) {
    width: 44px;
    height: 44px;
  }

}

.review {
  display: flex;
  width: 69%;

  @media (max-width: $tablet-max) {
    margin: 0 $gap;
  }

  @media (max-width: $mobile-max) {
    display: block;
    margin: 0 $gap-half;
  }
}

.review-info {
  display: flex;
  flex-direction: column;
  padding: 33.5px 0 33.5px $gap;
}

.review-name {
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 65px;

  @media (max-width: $tablet-max) {
    margin-bottom: $gap;
    font-size: 36px;
    line-height: 49px;
  }

}

.review-text {
  font-size: 24px;
  line-height: 33px;

  @media (max-width: $tablet-max) {
    font-size: 18px;
    line-height: 25px
  }

}
