* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 89px;
  font-family: $font;
  color: $color-dark;
}

.logo {
  margin-right: auto;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #fff;
  text-decoration: none;
}


