* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font;
  color: #333333;
}

.logo {
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #fff;
  text-decoration: none;
}
