* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font;
  color: #333333;
}

.logo {
  margin-right: auto;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #fff;
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 497px;
  padding: 30px;
  color: #fff;
  font-family: $font;
  font-size: 42px;
  line-height: 57px;
  // text-align: center;
  text-decoration: none;
  background-color: $color-accent;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
